* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #3e007a;
    background-image: url('shogunsama.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar {  /* WARNA SIDEBAR */
    width: 300px;
    height: 1500px;
    background-color: #5e1cba; 
    opacity: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 3px solid #000000;
}

.brand { 
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffffff; 
}

.menu ul {
    list-style: none;
    padding-top: 30px;
}

.menu ul li {
    margin-top: 70px;
}

.menu ul li a {  /* TEXT MENU */
    text-decoration: none;
    color: #ffffff; 
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    background-color:#9d00ff;
    padding: 10px 20px;
    margin: 30px;
    border-radius: 15px;
    border-style: outset;
    transition: color 0.5s ease;
}
.menu ul li a:hover {
    color:#9d00ff;
    background-color: #5e1cba;
}


.content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}
